extends ../layouts/base
 
block content
    header
    button class="back" onclick="history.back()"
        img(src="ui/images/arrow-left.svg")
    img(class="logotype" src="ui/images/logo.svg" alt="Evothings")
    <!--<button class="menu" onclick=""><img src="ui/images/menu.svg" /></button>-->
    h1 Jim's Very Great TI SensorTag Sensors